@include breakpoint(small only) {
  #responsive-menu {
    background-color: #000;

    .top-bar-left {
      .menu-text {
        display: none;
      }
    }
    .top-bar-right {
      .desktop-menu {
        display: none;
      }
    }
    .mobile-menu {
      display: flex;
      .menu {
        .menu-item {
          padding: 5px 10px;
        }
      }
    }
  }
}
.top-bar-left {
  .menu-text {
   font-size: 35px;
    a {
      color: #fff;
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .corporate-layout.l-header .contain-to-grid .title-bar {
      background: unset;
      margin-left: 0;
      ul {
        list-style: none;
      }
      .vertical {
        width: 100%;
      }
  }
}
