.box-icon {
    padding: 5px 10px 0 0;
    position: absolute;
    img, i {
        border-radius: 50px;
        height: 60px;
        padding: 10px;
        width: 60px;
    }
    i {
        color: #fff;
        padding-left: 17px;
        padding-top: 15px;
        font-size: 2em;
    }
    svg {
        width: 80px;
    }
}

.wd-text-icon-style1 {
    position: relative;
    margin: 10px;
    .box-icon {
        position: relative;
        text-align: center;
        padding: 0;
        background: #fefefe;
        &:after {
            transition: all .35s ease-in-out;
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
        }
        img, i {
            background: transparent;
            border-radius: 0;
            width: auto;
            height: auto;
            padding: 0;
        }
        i {
            color: #fff;
            font-size: 3.5em;
            padding: 39px 65px;
        }
    }
    .box-description {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 20px;
        h4 {
            color: #FFF;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 40px;
            margin-bottom: 10px;
            letter-spacing: 1px;
            line-height: 30px;
            color: #FFF;
            font-weight: 400;
        }
        p {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            padding: 0;
            color: #FFF;
        }
    }
    &:hover {
        .box-icon {
            &:after {
                background: rgba(0, 0, 0, .35);
            }
        }
    }
}

.box-description {
    padding-left: 70px;
    h3 {
        font-size: 19px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #555;
        letter-spacing: 2px;
        line-height: 23.75px;
    }
    p {
        color: #888;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        padding: 0;
    }
}

//________________RTL box-icon________________
.wd-text-icon-rtl {
    border: 1px solid rgba(238, 238, 238, 0.75);
    padding: 40px;
    margin-bottom: 30px;
    transition: .35s;
    &:not(.no-hover):hover {
        box-shadow: 0 3px 30px rgba(110,122,182,0.1);
        border-bottom-color: var(--primary-color);
    }
    .box-icon {
        padding: 0 35px 0 0;
        border-bottom-width: 2px;
        img, i {
            border-radius: 0;
            width: unset;
            height: unset;
            padding: 0 35px 0 0;
        }
        i {
            color: #fff;
            font-size: 3.5em;
            padding: 39px 65px;
        }

    }
    .box-description {
        padding: 85px 0 0;
        background: #fff;

        h3 {
            padding: 11px 0 15px;
            margin: 0;
            transition: all 0.3s ease 0s;
            font-size: 20px;
        }
        p {
            color: rgb(133, 133, 133);
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

//____________________style2______________
.wd-text-icon-style2 {
    .box-icon {
        height: 100%;
        padding: 5px;
        position: absolute;
        img, i {
            background: var(--primary-color);
            border-radius: 5px;
            height: 50px;
            padding: 10px;
            width: 50px;
        }
        i {
            color: #fff;
            font-size: 2em;
            padding-left: 12px;
        }

    }
    .box-description {
        padding-left: 70px;
        h3 {
            color: #555;
            font-size: 20px;
            margin-bottom: 10px;
        }
        p {
            color: #888;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            padding: 0;
        }
    }
}

//____________________style2 - 2 ______________
.wd-text-icon-style2-2 {
    padding: 20px 0;
    .box-icon {
        height: 100%;
        padding: 5px;
        position: absolute;
        img, i {
            background: var(--secondary-color);
            border-radius: 5px;
            height: 50px;
            padding: 10px;
            width: 50px;
        }
        i {
            color: #fff;
            font-size: 2em;
            padding-left: 12px;
        }

    }
    .box-description {
        padding-left: 80px;
        h4 {
            color: #FFF;
        }
        p {
            color: rgba(255, 255, 255, 0.89);
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            padding: 0;
        }
    }
}

//____________________style3______________
.wd-text-icon-style3 {
    .box-icon {
        position: unset;
        text-align: center;
        padding: 37px 0;
        background: #fefefe;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        img, i {
            background: var(--primary-color);
            border-radius: 0;
            width: unset;
            height: unset;

            padding: 26px 55px;

        }
        i {
            color: #fff;
            font-size: 3.5em;
            padding: 39px 65px;
        }

    }
    .box-description {
        padding: 30px 20px;
        background: #fff;

        h4 {
            color: #333;
            margin-bottom: 10px;
        }
        p {
            color: #888;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            padding: 0;
        }
    }
}

//____________________style5______________
.wd-text-icon-style5 {
    position: relative;
    margin: 10px;
    p {
        position: absolute;
        top: calc(50% - 6px);
        left: 0;
        z-index: 10;
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    & .box-icon:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    &:hover {
        & .box-icon:after {
            opacity: 1;
        }
        .box-description {
            p {
                color: #fff;
                opacity: 1;
                top: calc(50% - 60px);
            }
        }
    }

    .box-icon {
        position: relative;
        text-align: center;
        padding: 0;
        background: #fefefe;
        img, i {
            background: transparent;
            border-radius: 0;
            width: auto;
            height: auto;
            padding: 0;
        }
        i {
            color: #fff;
            font-size: 3.5em;
            padding: 39px 65px;
        }
    }
    .box-description {
        padding: 30px 20px;
        background: #fff;

        h4 {
            color: #333;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 8px;
            letter-spacing: 1px;
            line-height: 23.75px;
            color: #000;
            font-weight: 600;
        }
        p {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            padding: 0 40px;
        }
    }
}

//_______________ fucts____________
.wd-fucts {
    text-align: center;
    margin-bottom: 20px;
    .icon {
        min-height: 70px;
    }
    .number {
        color: #fff;

        font-weight: bold;
        font-size: 30px;
        span {
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            padding-top: 5px;
            width: 100px;
            display: inline-block;
            padding-bottom: 10px;
        }
    }
    .title {
        padding-top: 10px;
        color: #fff;
        font-size: 16px;
    }
}
.overflow-visible {
	overflow: visible !important;
}
.numbers-movedup {
  margin-left: -25px;
  margin-right: -25px;
  z-index: 9;
  box-shadow: 0 5px 20px #eee;
}
@media only screen and (min-with: 664px) and (max-with:1024px) {
.numbers-movedup {
    transform: translate(12%, 40px) scale(1.135);
}
}
@media only screen and (min-width: 1024px) {
	.numbers-movedup {
	  transform: translate(22%, 80px) scale(1.35);
	}
}
.numbers-movedup .vc_column-inner {
  padding: 15px !important;
}
.numbers-movedup .wd-fucts {
  margin-bottom: 0;
}
.numbers-movedup .wd-fucts .icon {
  display: none;
}
.numbers-movedup .wd-fucts .title {
  padding-top: 0;
}